*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

body{
    background-color: rgb(255, 255, 255);
}   

.menu-hamburguesa {
    display: none;
  }

  .boton-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .icono-menu {
    font-size: 24px;
    color: #000000;
  }

  .boton-menu:hover .menu-hamburguesa {
    display: block;
  }

  .lista-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .lista-menu li {
    margin-bottom: 10px;
  }
  
  .lista-menu li a {
    text-decoration: none;
    color: #000000;
  }

a{
    text-decoration: none;
    color: rgb(74, 76, 76);
}
.title {
    font-size: 2rem;
    text-align: center;
}

.Git-icon{
    height: 3rem;
    float: center;
    margin-left: 230px;
    font-size: 1px;
}

.contenedor {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

img {
    width: 30px;
    margin: 0 auto;
  }

  

  img {
    float: left;
    margin-left: 230px;
  }
  
  p {
    margin: 0;
  }

.section_text_1{
    text-align: center;
    color: rgb(55, 55, 55);
}

.container title2{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.container p{
    text-align: justify-all;
    margin-top: 10px;
    font-size: 16px;
    margin: 20px;
}

#img1{
    border-radius: 25%;
    float: left;
}



.section_h4_1{
    text-align: left;
    color: rgb(54, 77, 97);
}
  